<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_WinForms_RDLC.Properties.Settings.dbControlNotasConnectionString"
            connectionString="Data Source=ARTHUR\VNAJ_DB01;Initial Catalog=dbControlNotas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>